<div class="home">
  <div class="home__search">
      <app-input-search [count]="myCount" (change)="countChange($event)"></app-input-search>
  </div>

  <div class="home__list">
    <app-list-block 
      *ngFor="let video of videos | paginate: { itemsPerPage: 10, currentPage: pageAtual }"
      [videoId]="video.id.videoId"
      [videoTitle]="video.title"
      [channelTitle]="video.snippet.channelTitle"
      [videoDesc]="video.snippet.description"
    ></app-list-block>

    <pagination-controls (pageChange)="pageAtual = $event"></pagination-controls>
  </div>
</div>