:host {
    height: 100%;
    display: flex;
}

.home {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 16px;
    flex-basis: 100%;
    transition: justify-content 4s ease;
    flex-direction: column;

    &__search {
        width: 100%;

        @media only screen and (min-width: 600px) {
            max-width: 600px;
        }
    }

    &__list {
        width: 100%;
        margin-top: 32px;

        @media only screen and (min-width: 600px) {
            display: flex;
            flex-wrap: wrap;
        }

        app-list-block {
            @media only screen and (min-width: 600px) {
                display: inline-flex;
                flex: 0 0 calc(33% - 16px);
                margin-top: 20px;
                margin: 8px;
            }
        }
    }

    &__pagination {
        margin-top: 50px;
    }

    &__error {
        display: flex;
        flex-direction: column;
        align-items: center;

        svg {
            width: 32px;
            height: 32px;
        }

        p {
            font-size: 12px;
            margin-top: 8px;
            font-weight: bold;
        }
    }
}