
:host {
    transition: all 0.6s ease;
    display: flex;

    &:not(:first-of-type) {
        margin-top: 16px;
    }

    &:hover {
        transform: translateY(-10px);
    }
}
.video {
    display: flex;
    flex-direction: column;
    flex-basis: 100%;

    > *:not(:first-child) {
        margin-top: 8px;
    }

    &__img {
        height: 200px;
        background: #cccaca;
        border-radius: 4px;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        cursor: pointer;
    }

    &__title {
        font-weight: bold;
        font-size: 16px;
    }
    &__channel {
        font-weight: bold;
        font-size: 12px;
    }

    &__description {
        font-size: 11px;
    }

    &__link {
        background: #cccaca;
        padding: 8px;
        text-transform: uppercase;
        flex-grow: 10%;
        align-self: flex-start;
        font-size: 14px;
        color: #fff;
        text-decoration: none;
    }
}